"C:\Users\jason\Desktop\Locally saved school coding\STAT 184\STAT184-Sec1-Jason\data\galton_tidy_table.csv"
"C:\Users\jason\Desktop\Locally saved school coding\STAT 184\STAT184-Sec1-Jason\data\US_armed_forces.csv"
